/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-bottom: 20px;
}

.bg-azul{
    background-color: #5D7B9D;
}

.bg-amarillo{
    background-color: #F7F6F3;
}

.txt-azul{
    color: #5D7B9D;
}

.txt-amarillo{
    color: #F7F6F3;
}