
body {
    padding-bottom: 20px;
}

.bg-azul {
    background-color: #5D7B9D;
}

.bg-amarillo {
    background-color: #F7F6F3;
}

.txt-azul {
    color: #5D7B9D;
}

.txt-amarillo {
    color: #F7F6F3;
}

.imgSize {
    max-width: 250px;
    height: 200px;
}